
body {
  background: linear-gradient(black, white);
}

#theHead {
    list-style-type: none;
    margin: -10px 0px;
    padding: 5px 0px;
    overflow: hidden;
    background-color: #2b2b2b;
    position: fixed;
    width: 100%;
    font-family: arial;
}

.rHead {
  float: right;
  width: 8%;
  height: 50%;
}

.lefty {
  float: left;
}


#someColor{
  background-color: lightgrey;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    float: center;
}

li a:hover {
    background-color: #44676b;
}

#skull {
  width: 68%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#theBackgroundForSkull {
  background-color: #084155;
}

#theVids {
  background-color: #2b2b2b;
  padding-top: 40px;

}

 .ytvids {
   width: 33.3333%;
   height: 350px;
   list-style-type: none;
   padding:none;
   border:none;
   align-self: left;
   background-color: #2b2b2b;
   float: left;
 }

 h1 {
   font-family: arial;
   text-align: left;
   text-decoration-style: wavy;

 }

.titleStyle {
  font-family: arial;
  background-color: #084155;
  color: white;

}
.blend{
  color:#1d293f;
}
 #boxT {
   font-family: arial;
   background-color: #1d293f;
   width:68%;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 120px;

 }

 .boxTCon {
   color: white;
   text-align: center;
 }

.titleP{
  text-align: center;
  color:#9dbe53;
  padding-top: 4px;
  margin-top: 100px;

}
#titleStyle{
  background-color:#084155;
}
.centerit {
  text-align: center;
}

#thirdPart {
  background: #5E0B0B;
}



 footer {
   background-color: #a3a3a3;
   width:100%;
   color:white;
 }

 #theFoot {
   background-color:grey;
   width:68%;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
 }
.atfoot{
  color:#343434;
}
.colorfoot{
  color:#141414;
}
ul{
  font-size: 15px;
  list-style-type: none;
}
